@font-face {
 font-family: "ClashDisplayBold";
 src: url("../assets/fonts/ClashDisplay/ClashDisplay-Semibold.otf") format("truetype");
}

@font-face {
 font-family: "MontserratRegular";
 src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "MontserratBold";
 src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
 font-family: "MontserratBoldItalic";
 src: url("../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
 font-family: "UnicaOne";
 src: url("../assets/fonts/UnicaOne/UnicaOne-Regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 @apply bg-zinc-50;
}

.form-input {
 @apply w-full px-6 py-3 left-0 border-2 border-primary rounded-md font-montserrat-bold text-sm resize-none;

 &:focus,
 &:hover {
  @apply outline-0 shadow-none;
 }

 &:is(:focus, :not(:placeholder-shown)) ~ .form-label {
  @apply -top-3 border-t-2 border-primary;
 }
}

.form-label {
 @apply absolute left-4 top-4 font-montserrat-bold py-1 px-2 text-sm bg-white cursor-text transition-all duration-300 select-none;
 transition-timing-function: cubic-bezier(0.64, -0.24, 0.04, 1.65);
}
